.Main {
    text-align: center;
    background-color: rgb(135, 173, 99);
     width: 680px;
    margin-left: 265px;
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    
    
  }
  /* body {
    background-image: url("https://thumbs.dreamstime.com/z/grunge-gears-cogs-drawing-background-24990080.jpg");
   } */

  
  