
.main-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid purple;
  height: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 30px;
  text-align: center;
  background-color: rgb(70, 86, 168);
}

.btn-add-bill {

  margin: 14px;
  padding: 10px;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 10px;
  

}
.btn-add-bill:hover{
  margin: 14px;
  padding: 10px;
  background-color: rgb(57, 2, 108);
  color: aliceblue;
  border-radius: 10px;
  
}

.bill-item{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid green;
  border-radius: 10px;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
  font-size: 20px;
  background-color: rgb(138, 76, 148);
}
table, tr,th, td{
  border: 2px solid black;
  border-collapse: collapse;
}